Package: applebetas.ios.tweak.bubblenotifications
Name: BubbleNotifications
Depends: mobilesubstrate, firmware (>= 10.0), preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: A complete redesign of iOS 10's notifications!
Maintainer: AppleBetas
Author: AppleBetas
Section: Tweaks
