Package: applebetas.ios.tweak.translucentmessages
Name: TranslucentMessages
Depends: mobilesubstrate, firmware (>= 10.0), preferenceloader
Version: 1.0.2
Architecture: iphoneos-arm
Description: Adds a beautiful blurred effect to your messages app and more, letting you see your wallpaper through them.
Maintainer: AppleBetas
Author: AppleBetas
Section: Tweaks
