<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>TranslucentMessages</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>applebetas.ios.tweaks.translucentmessages</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweaks.translucentmessages.changed</string>
		</dict>
        <dict>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>Tip: TranslucentMessages can combine with DarkMessages by Sticktron to create a vibrant and beautiful dark mode. DarkMessages is available in BigBoss!</string>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSwitchTableCell</string>
            <key>label</key>
            <string>Blur Wallpaper</string>
            <key>key</key>
            <string>BlurWallpaper</string>
            <key>defaults</key>
            <string>applebetas.ios.tweaks.translucentmessages</string>
            <key>default</key>
            <true/>
            <key>PostNotification</key>
            <string>applebetas.ios.tweaks.translucentmessages.changed</string>
        </dict>
		<dict>
			<key>label</key>
			<string>Support</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Contact me on Twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openEmail</string>
			<key>label</key>
			<string>Email me</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openWebsite</string>
			<key>label</key>
			<string>My Website</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDonate</string>
			<key>label</key>
			<string>Donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© AppleBetas Development 2017</string>
		</dict>
	</array>
</dict>
</plist>
